page-login {

    $colors: (
        primary:    #8135be,
        secondary:  #c0b15a,
        danger:     #f53d3d,
        light:      #c73535,
        dark:       #222
      );
 
      
      .bg-style {
        background: #e6e0e6;
    }

    .logo{
        height: 100px;
    }

    form {
        display: table-cell;
        vertical-align: middle;
    }
}
