<!--
  Generated template for the UploadFeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title color="secondary">Upload Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <span *ngIf="offlineFeedbacks">No. of Feedbacks available for upload: <strong>{{offlineFeedbacks}}</strong><button ion-button full (click)="uploadFeedback()">Upload</button></span>
    <span *ngIf="!offlineFeedbacks">No Feedbacks to upload</span> 
    
</ion-content>
